@tailwind base;
@tailwind components;
@tailwind utilities;


.notif_body::-webkit-scrollbar {
    width: 5px;
}

.notif_body::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.notif_body::-webkit-scrollbar-thumb {
    background-color: #646464;
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:active {
    background: #333;
}

#circuitsimages::-webkit-scrollbar {
    width: 1px;
};


.trow {
    padding: 0.75rem;

    &:hover {
        background-color: rgba(0, 45, 85, 87.5%);
        color: #fff;

        svg {
            visibility: visible !important;

        }
    }
}

input[type="file"]::file-selector-button {
    background-color: rgba(0, 45, 85, 87.5%);
}





@media (max-width : 428px) {
    #visitorsChart{
        height: 40vh !important; 
    }
}


#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 25px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 3px;
    background-color: #1221af ;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1 {
    width: 50%;
  }
  
  #bar2 {
    width: 75%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
