@tailwind base;
@tailwind components;
@tailwind utilities;


.notif_body::-webkit-scrollbar {
    width: 5px;
}

.notif_body::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.notif_body::-webkit-scrollbar-thumb {
    background-color: #646464;
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:active {
    background: #333;
}

#circuitsimages::-webkit-scrollbar {
    width: 1px;
};


.trow {
    padding: 0.75rem;

    &:hover {
        background-color: rgba(0, 45, 85, 87.5%);
        color: #fff;

        svg {
            visibility: visible !important;

        }
    }
}

input[type="file"]::file-selector-button {
    background-color: rgba(0, 45, 85, 87.5%);
}

